body  {
    margin-top: 52rem !important;
    height: 1rem;
    background-color: black !important; 
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}
.main-dis{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.login-form {
    height: 40rem;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Titillium Web";
} 
.login-form div{
    position: relative;
    margin: 2rem 3rem;
    height:auto;
}
.lbl {
    font-size: 1.7rem;
}

.title-containerh{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.title-containerh h1 a{
    color: white;
}
.tittle-containerh h2{
    color: white;
    font-size: .5rem;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
input {
    padding: 1rem 2rem;
    background: none;
    outline: 1px solid rgb(255, 255, 255);
    border: none;
    width: 15rem;
    transition: background .3s ease;
}
input:focus {
    background: white;
    color: black;
} 
h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
    
    padding: 1px 0px;
    font-family: Titillium Web;
    font-weight: 00;
    position: relative;
    background: linear-gradient(to right, black, #1d1a1a, black);
}
.shadow {
    place-items: center;
    color: #fff;
    position: relative;
    background: black;
} 
.shadow::before,
.shadow::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    background: white;
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 25s linear infinite;
}

.shadow::after {
    filter: blur(10px);
}

.btn-si{
    font-size: 1rem;
}
.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login:hover {
    background: rgb(213, 215, 216);
}

.btn-singup {
    color: rgb(255, 255, 255);
}

.btn-singup:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/**/
button {
    background-color: rgb(11, 84, 180);
    border: none;
    color: #fff;
    text-align: center;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 4rem;
    font-family: "Titillium Web";
}

button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; 
}

button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    padding-right: 24px;
    padding-left: 8px;
}

button:hover:after {
    opacity: 1;
    right: 50px;
}

footer {
    width: 120rem;
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color de texto del footer */
    padding: 20px 0; /* Espaciado interno en la parte superior e inferior del footer */
    text-align: center; /* Alineación del contenido del footer */
    margin-top: 20rem;
}

.redes-sociales {
    font-size: 24px; /* Tamaño de los íconos de redes sociales */
}

.redes-sociales a {
    color: #fff; /* Color de los íconos de redes sociales */
    margin: 0 10px; /* Margen horizontal entre los íconos */
    text-decoration: none; /* Sin subrayado en los enlaces */
}










