
body{
    background-image: url(/Views/imagenes/fondoGod.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: hsl(0, 12%, 11%);
    overflow: hidden;
}

.right-buttons { 
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.right-buttons li {
    float: left;
    margin-left: 10px;
}

.right-buttons a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.right-buttons a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    position: relative;
    top: 10rem;
}

.titulos {
    text-align: center;
    color: aliceblue;
    font-family: "Titillium Web";
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0; 
    text-align: center; 
    margin-top: 39rem;
}

.redes-sociales {
    font-size: 24px; 
}

.redes-sociales a {
    color: #fff; 
    margin: 0 10px; 
    text-decoration: none; 
}
